.footer{
    background-color: #F8FAFC;
    height: 154px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 70px;
}

.footer1{
margin-left: 60px;
}

.footer2{
display: flex;
margin-right: 60px;

}

.footerWords{
    font-weight: 500;
    color: #1E293B;
}

.footerWords{
    margin-right: 20px;
}